# misc
*.log
npm-debug.*
*.scssc
*.swp
.DS_Store
.sass-cache
.env
.cache

# node modules and output
node_modules
dist

# twitter data files
src/_data/tweets.json
src/_data/twids.json
src/_data/users.json
