---
permalink: 'tav/home.html'
---
{# this is the home page skeleton for the _twitter archive viewer_ home page. #}

{% extends "layouts/base.html" %}

{% block content %}
    <h1>{{ title }}</h1>
    {{ content | safe }}
{% endblock %}