---
permalink: "tweets/home.html"
layout: 'layouts/home.html'
title: 'all single tweets'
---

{# mk an orphan tweet page pulling data from json file #}

{% for tweet_id in twids %}
<article class="tweet">
  <p><strong>@{{ users[tweets[tweet_id].user_id].screen_name }}</strong></p>
  <p>{{ tweets[tweet_id].text }}</p>
  <p><small>{{ tweets[tweet_id].created_at }}</small></p>
</article>
{% endfor %}