{# lists all single-tweets  #}

{% block content %}
  <div class="container--col-view">
    {% for tweet_id in twids %}
      <article class="tweet">
          <p><strong>@{{ users[tweets[tweet_id].user_id].screen_name }}</strong></p>
          <a href="tweets/{{ tweet_id | slugify }}/">  
            <p>{{ tweets[tweet_id].text }}</p>
          </a>
          <p><small>{{ tweets[tweet_id].created_at }}</small></p>
      </article>
    {% endfor %}
  </div>
{% endblock %}