
{# mk a single page for each tweet. this view expands metadata display  #}

{% block content %}
    <p>this comes from the `/partials/twSingle.njk`</p>
    <p>if this works the tweet's id should display here: {{ tw or "not found" }} </p>
{% endblock %}